@page
@model IndexModel

<form method="post">

    <div class="panel form">
        <div class="panel-header">Create a greeting</div>
        <div class="panel-body">
            @Html.Partial("_Form", Model.bridgeGreetings)
        </div>
        <div class="panel-footer text-center">
            <input type="submit" value="Next" class="btn btn-primary" />
            <a href="/" class="btn btn-link">Start Over</a>
        </div>
    </div>

</form>

<!--Original
<div class="container">
    <h1 class="text-center">Send this Halloween Greeting to a friend!</h1>
    <div class="row">
        CARD
        <div class="col-xs-12 col-md-8 mediabox">
            <div class="embed-responsive embed-responsive-4by3">
            <img src="~/images/halloween.gif" class="img-responsive" alt="ghouls" style="width:100%">
			</div>
        </div>
        FORM
        <div class="col-xs-12 col-md-4 textbox">
			@Html.Partial("_Form")
		</div>
    </div>
</div>
-->

@section Scripts {
<script src="https://www.google.com/recaptcha/api.js"></script>
<script src="~/lib/ww-form-character-countdown.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script src="~/lib/textareaautosize/autosize.min.js"></script>
<script>
	autosize($('textarea'));
</script>
}