body {
    font-family: 'Oswald', sans-serif;
    background-color: #000;
    font-size: 14px;
    letter-spacing: 1px;
}

.preview {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    text-transform: none;
    letter-spacing: inherit;
    display: inline-block;
}

a {
}

    a:link,
    a:visited,
    a:active,
    a:hover a:focus {
        color: #0026ff;
    }


h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 1.75em;
    margin: 0.5em 0 1em 0;
    text-decoration: none;
    text-transform: uppercase;
    color: #DA8230;
}

h2 {
    font-size: 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    color: #DA8230;
    display: inline-block;
    vertical-align: top;
    margin-top: 2px;
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 3em;
    }
}

.form-control {
    display: inline-block;
    width: 100%;
    border: 3px solid #DA8230;
    border-radius: 0;
    background: #F1C795;
    font-family: inherit;
    font-weight: bold;
    font-size: 1.2em;
}

    .form-control::placeholder {
        text-transform: none;
        color: #4F1906;
        font-size: 1.2em;
    }

textarea {
    resize: vertical;
    letter-spacing: inherit;
    margin: 3px auto 10px;
}

input {
    margin: 3px auto 10px;
    border-radius: 100px;
    letter-spacing: inherit;
    background-color: #DA8230;
    border: none;
    color: #fff;
    font-family: inherit;
    font-weight: bold;
    font-size: 1.5em;
}

label {
    text-transform: uppercase;
    font-family: inherit;
    font-weight: bold;
    font-size: 0.9em;
    letter-spacing: inherit;
}

.img-responsive {
    border: 10px solid white;
}

.checkbox-inline {
    color: #000;
    font-size: 1.5em;
    margin: 0px auto 20px;
}

.g-captcha {
    margin: 0px auto 10px;
}

.textbox {
    background-color: #ccc;
    padding: 1em;
}

.panel, .panel-body, .panel-footer {
    background: none;
    border: unset;
    box-shadow: none;
}

.field-validation-valid {
    color: #cc0000;
    text-transform: uppercase;
}

.text-danger {
    color: #f93c11;
    text-transform: uppercase;
}

.btn-primary {
    color: #000;
    background-color: #DA8230;
    border-color: #DA8230;
    padding: 10px 20px;
    font-size: 1.5em;
    font-weight: bolder;
    text-tranform: uppercase;
}

.btn:hover {
    color: #DA8230;
    background-color: #000;
    border-color: #000;
}

.next {
    margin-right: 3em;
}

.other {
    display: inline;
    font-size: 1.2em;
    vertical-align: bottom;
    text-transform: uppercase;
    font-weight: bolder;
}

.goback {
    color: #0026ff;
    font-size: 1.2em;
    font-weight: bolder;
    text-tranform: uppercase;
}
